body {
    font-family: Arial, sans-serif;
    background-color:hwb(64 71% 1%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color:hwb(64 71% 1%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}


h1 {
    color: #ff0606;
}

img {
    width: 300px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
}

body {
    font-family: Arial, sans-serif;
    background-color: pink; 
    background-color: hwb(64 71% 1%);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

img{height: 40%;
width: 40%;}

button {
    width: 300px;
    height: 50px;
    background-color: hwb(64 71% 1%);
    color: hwb(64 71% 1%);
    font-size: 16px;
    border-radius: 5px;
  }