body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: hwb(64 71% 1%)
}

header {
    display: flex;
    justify-content: last baseline;
    justify-content: space-between;
    padding: 2px;
    background-color: hwb(0 0% 100%)
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 100px;
}

.logo {
    font-size: 80px;
    font: weight 100px;;
    text-align: center;
    margin-top:80px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.arrows span {
    font-size: 300px;
    margin: 0 10px;
}

img {
    width: 150px;
    margin-bottom: 20px;
}

button {
    background-color: rgb(0, 0, 0);
}

